---
const props = Astro.props
const linkedin = props.linkedin
const twitter = props.twitter
const url = props.url
const github = props.github
---

<style>
  ul {
    list-style: none;
    margin: 8px 0 0 0;
    padding: 0;
  }
</style>
<ul>
  {
    linkedin && (
      <li class="links-list">
        <i class="fab fa-linkedin" style="width: 20px;" />
        <a target="_blank" href={`https://www.linkedin.com/in/${linkedin}`}>
          {linkedin}
        </a>
      </li>
    )
  }
  {
    twitter && (
      <li class="links-list">
        <i class="fab fa-twitter" style="width: 20px;" />
        <a target="_blank" href={`https://twitter.com/${twitter}`}>
          @{twitter}
        </a>
      </li>
    )
  }
  {
    url && (
      <li class="links-list">
        <i class="fa fa-globe" style="width: 20px;" />
        <a target="_blank" href={url}>
          {url.split('://')[1]}
        </a>
      </li>
    )
  }
  {
    github && (
      <li class="links-list">
        <i class="fab fa-github" style="width: 20px;" />
        <a target="_blank" href={`https://github.com/${github}`}>
          {github}
        </a>
      </li>
    )
  }
</ul>
