---
import '../styles/main.css'

let { pageTitle, sharing } = Astro.props as {
  pageTitle: string
  sharing?: {
    image: string
  }
}

let imageUrl
if (sharing) {
  imageUrl = new URL(sharing.image, Astro.url.origin).toString()
}

if (pageTitle) {
  if (!pageTitle.endsWith('SeattleJS')) {
    pageTitle = `${pageTitle} | SeattleJS`
  }
} else {
  pageTitle = 'SeattleJS'
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/_public/favicon.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <meta
      name="description"
      content="SeattleJS is the largest JavaScript and web developer meetup in Seattle. Our meetings are the 2nd Wednesday of each month. We are an inclusive community and welcome everyone, including folks who are just getting started in tech."
    />
    <link rel="stylesheet" href="https://use.typekit.net/smc6vzy.css" />
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github-dark.min.css"
      integrity="sha512-rO+olRTkcf304DQBxSWxln8JXCzTHlKnIdnMUwYvQa9/Jd4cQaNkItIUj6Z4nvW1dqK0SKXLbn9h4KwZTNtAyw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    /> -->
    {
      sharing && imageUrl && (
        <>
          <meta name="image" property="og:image" content={imageUrl} />
          <meta name="url" property="og:url" content={Astro.url.toString()} />
          <meta name="type" property="og:type" content="website" />
          <meta name="author" content="Carter Rabasa" />
          <meta property="og:title" content={`${pageTitle}`} />
          <meta name="twitter:image" content={imageUrl} />
          <meta name="twitter:card" content="summary_large_image" />
          <meta name="twitter:site" content="@seattlejs" />
          <meta name="twitter:title" content={`${pageTitle}`} />
        </>
      )
    }
    <!-- ${ path === '/conf' ? `
    <script src="https://js.tito.io/v2" async></script>
    ` : `` } -->
  </head>
  <body>
    <slot />
    <script
      src="https://kit.fontawesome.com/95fd764ad0.js"
      crossorigin="anonymous"
      async></script>
    <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"
      integrity="sha512-rdhY3cbXURo13l/WU9VlaRyaIYeJ/KBakckXIvJNAQde8DgpOmE+eZf7ha4vdqVjTtwQt69bD2wH2LXob/LB7Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      hljs.highlightAll()
    </script> -->
    <!--script src="https://unpkg.com/@mux/mux-player"></script-->
    <!--script src="/_public/scripts/app.js"></script-->
  </body>
</html>
